
  .handball-court-container {
    width: 70%;
    height: 50%;
    position: absolute;
    top: 10rem;
    left: 10rem;
    background-image: url("../assets/court.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
 
